{% extends "base.html" %}

{% block heading %}
<h1 style="width: 100%; text-align: center; display: inline-block;">Big Five Personality Traits Assessment</h1>
<label style="font-size: 16px; font-weight: bold; float: right; margin-right: 1%;">Candidate name : {{candidate_name}}</label>
<br><br>
<div style="width: 50%; display: inline-block;">{{plotly_graph | safe}}</div>
<div style="width: 47%; display: inline-block; margin-left: 2%;">
    <img src="/static/radar_chart.png" style="width:100%; height: 450px;"></img>
</div>
{% endblock %}

{% block content %}
<div style="margin-left: 1%; margin-top: 2%; margin-bottom: 9%; display: inline-block; width: 30%;">
    <table style="border: 2px solid black; border-collapse: separate; border-spacing: 0.0em; width: 100%; text-align: center;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Trait name</th>
                <th style="border: 1px solid black;">Candidate score</th>
                <th style="border: 1px solid black;">Others' average score</th>
            </tr>
        </thead>
        <tbody>
            {% for key in trait_score_dict.keys() %}
                <tr>
                    <td style="border: 1px solid black;">{{key}}</td>
                    <td style="border: 1px solid black;">{{trait_score_dict[key]}}</td>
                    <td style="border: 1px solid black;">{{other_candidates_trait_score_dict[key]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="border: 1px solid black;">Total</td>
                <td style="border: 1px solid black;">{{trait_score_dict["Openness"]+trait_score_dict["Conscientiousness"]+trait_score_dict["Extraversion"]+trait_score_dict["Agreeableness"]+trait_score_dict["Neuroticism"]}}</td>
                <td style="border: 1px solid black;">{{other_candidates_trait_score_dict["Openness"]+other_candidates_trait_score_dict["Conscientiousness"]+other_candidates_trait_score_dict["Extraversion"]+other_candidates_trait_score_dict["Agreeableness"]+other_candidates_trait_score_dict["Neuroticism"]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-left: 1%; margin-top: 2%; width: 66%; height: auto; border: 1px solid black; border-radius: 10px; background-color: rgb(118, 171, 231); display: inline-block;">
    <div class="tab">
        <button style="font-size: 20px; font-weight: bold;" class="tablinks" onclick="open_trait(event, '{{traits_list[0]}}')" id="defaultOpen">{{traits_list[0]}}</button>
        {% for i in range(1, traits_list|length) %}
            <button style="font-size: 20px; font-weight: bold;" class="tablinks" onclick="open_trait(event, '{{traits_list[i]}}')">{{traits_list[i]}}</button>
        {% endfor %}
    </div>
    {% for i in range(0, traits_list|length) %}
        <div id="{{traits_list[i]}}" class="tabcontent">
            <label style="font-size: 20px; font-weight: bold;">Characteristics</label><br>
            {% if candidate_feedback_dict[traits_list[i]]["Characteristics"] == [] %}
                <label style="font-size: 18px;">N/A</label><br>
            {% else %}
                {% for element in candidate_feedback_dict[traits_list[i]]["Characteristics"] %}
                    <label style="font-size: 18px;">{{loop.index}}. {{element}}</label><br>
                {% endfor %}
            {% endif %}
            <br>

            <label style="font-size: 20px; font-weight: bold;">Strengths</label><br>
            {% if candidate_feedback_dict[traits_list[i]]["Strengths"] == [] %}
                <label style="font-size: 18px;">N/A</label><br>
            {% else %}
                {% for element in candidate_feedback_dict[traits_list[i]]["Strengths"] %}
                    <label style="font-size: 18px;">{{loop.index}}. {{element}}</label><br>
                {% endfor %}
            {% endif %}
            <br>

            <label style="font-size: 20px; font-weight: bold;">Recommendations</label><br>
            {% if candidate_feedback_dict[traits_list[i]]["Recommendations"] == [] %}
                <label style="font-size: 18px;">N/A</label><br>
            {% else %}
                {% for element in candidate_feedback_dict[traits_list[i]]["Recommendations"] %}
                    <label style="font-size: 18px;">{{loop.index}}. {{element}}</label><br>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<br><br><br><br>
{% endblock %}

{% block script %}
<script>
    function open_trait(event, trait_name) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(trait_name).style.display = "block";
        event.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<script>
    if (5> 4){
        var candidate_name= "{{candidate_name}}";
        document.getElementById("success_modal").style.display= "block";
        document.getElementById("success_modal_text").innerText= `Insights and recommendations are generated for Personality Traits Assessment for ${candidate_name}.`;
    }
</script>
{% endblock %}